/*index*/

*{
    margin: 0;
    padding: 0;
}

.logo{
    display: inline-block;
    padding: 15px;
}

body{
    background-color: #DBE6FD;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: #47597E;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    min-width: 100px
}

div{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

div nav ul {
    list-style-type: none;
}

div nav ul li {
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
}

div nav ul li a {
    text-decoration: none;
    font-size: 15 px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #DBE6FD;
    color: #47597E;
    border-radius: 50px;
}


.general{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20%, 50%, auto, auto;
    grid-template-areas: "bienvenidos bienvenidos"
    "imagen imagen"
    "texto texto"
    ;
}

.bienvenidos{
    color: #52bfe0;
    text-shadow: 0 10px 25px rgba(255, 255, 255, 0.3);
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-area: bienvenidos;
    justify-self: center;
    margin: 20px;
    padding: 25px;
    animation-name: tituloanimacion;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes tituloanimacion {
0% { color: #52bfe0} 
30% {color: #2b8ba8}
50% { color: #47597E}
100% { color: #233250}
}

.foto__inicio{
    height: 400px;
    width: 700px;
    grid-column: imagen;
    justify-self: center;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.texto{
    color: #47597E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 50px;
    text-align: center;
    grid-area: texto;
}

.footer__index{
    text-align: center;
      height: 30px; 
      width: 100%;
     background-color: #47597E;
     color: #DBE6FD;
     font-size: 15px;
     line-height: 30px;
     position: relative;
     bottom: 0px;
}


.menu_desplegable{
    display: none;
}

    @media screen and (max-width: 800px)  {
        .general {
            grid-template-areas: "bienvenidos bienvenidos"
            "imagen imagen"
            "texto texto"
            "footer footer";
        }
    
        #menu {
            display: none;
        }

        .menu_desplegable{
            font-size: 25px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           font-style: bold;
            background-color: #DBE6FD;
            color: #293B5F;
            width: 80px;
            padding: 10px;
            border-radius: 15px;
            display: flex;
            justify-self: flex-end;
            text-align: center;
            margin: 0px;
            padding-left: 0px;

        }

        .foto__inicio{
            height: 300px;
            width: 600px;
        }
    }

    @media screen and (max-width: 650px)  {
        .general {
            grid-template-areas: "bienvenidos bienvenidos"
            "imagen imagen"
            "texto texto"
            "footer footer";
        }

        #menu {
            display: none;
        }

        .menu_desplegable{
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           font-style: bold;
            background-color: #DBE6FD;
            color: #293B5F;
            width: 80px;
            padding: 8px;
            border-radius: 15px;
            display: flex;
            justify-self: flex-end;
            text-align: center;
            margin: 0px;
            padding-left: 0px;
        }

        .foto__inicio{
            height: 250px;
            width: 450px;
        }

        .bienvenidos{
            font-size: 43px;
        }

        .texto{
            font-size: 18px;
            margin: 5px;
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
        }

        .footer__index{
            font-size: 13px;
            align-items: flex-end;
        }
    }



    @media screen and (max-width: 488px)  {
        .general {
            grid-template-areas: "bienvenidos bienvenidos"
            "imagen imagen"
            "texto texto"
            "footer footer";
        }
    
        #menu {
            display: none;
        }

        .menu_desplegable{
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           font-style: bold;
            background-color: #DBE6FD;
            color: #293B5F;
            width: 80px;
            padding: 8px;
            border-radius: 15px;
            display: flex;
            justify-self: flex-end;
            text-align: center;
            margin: 0px;
            padding-left: 0px;

        }

        .foto__inicio{
            height: 200px;
            width: 300px;
        }

        .bienvenidos{
            font-size: 40px;
        }

        .texto{
            font-size: 15px;
            margin: 5px;
            padding-top: 40px;
            padding-bottom: 100px;
            text-align: center;
        }

        .footer__index{
            font-size: 10px;
            align-items: flex-end;
        }
    }

/*Sobre AP Vet*/


.foto__1 {
    border-radius: 10px;
    width: 260px;
}

.foto__2 {
    border-radius: 10px;
    width: 260px;
}

.foto__3 {
    border-radius: 10px;
    width: 260px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "titulo descripcion descripcion"
    "zonas zonas zonas"
    "fotos fotos fotos"
    "footer footer footer";
}

.contenedor < div,
.contenedor .titulo,
.contenedor .descripcion,
.contenedor .zonas,
.contenedor .foto__1,
.contenedor .foto__2,
.contenedor .foto__3 {
    background: #fff;
    padding: 20px ;
    border-radius: 4px;
}

.contenedor .titulo,
.contenedor .descripcion{
    margin-top: 40px;
    margin-bottom: 30px;
}

.titulo {
    color: #293B5F;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 100px;
    padding-left: 20px;
    grid-area: titulo;
}

.descripcion {
    color: #52bfe0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: start;
    grid-area: descripcion;
}

.zonas {
    color: #293B5F;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
    grid-area: zonas;
}

.fotos{
    grid-area: fotos;
justify-content: space-around;
align-content: center;
margin-left: 30px;
padding: 40px;
}

.foto__1{
    margin: 15px;
    transition: width 2s;
    
}

.foto__1:hover{
    width: 300px;
}

.foto__2{
    margin: 15px;
    transition: width 2s;
}

.foto__2:hover{
    width: 300px;
}
.foto__3{
    margin: 15px;
    transition: width 2s;
}

.foto__3:hover{
    width: 300px;
}

.desplegable{
    display: none;
}


.footer__ap{
    grid-column: 1/3;
    grid-row: 5/6;
    text-align: center;
      height: 30px; 
      width: 100%;
     background-color: #47597E;
     color: #DBE6FD;
     font-size: 15px;
     line-height: 30px;
     position: relative;
     bottom: 0px;
     }

@media screen and (max-width: 800px)  {
    .contenedor {
    grid-template-areas: "titulo titulo titulo"
    "descripcion descripcion descripcion"
    "zonas zonas zonas "
    "fotos fotos fotos"
    "footer footer footer";
    }

    #menu__ap {
        display: none;
    }

    .desplegable{
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           font-style: bold;
            background-color: #DBE6FD;
            color: #293B5F;
            width: 80px;
            padding: 8px;
            border-radius: 15px;
            display: flex;
            justify-self: flex-end;
            text-align: center;
            margin: 0px;
            padding-left: 0px;
    }

    .titulo{
        font-size: 53px;
        padding-top: 20px;
        margin: 0px;
         line-height: 0px;
    }

    .descripcion{
        text-align: center;
    }

    .fotos{
       display: flex;
       flex-wrap: wrap;
    }

    .foto__1 {
        border-radius: 10px;
        width: 400px;
    }
    
    .foto__2 {
        border-radius: 10px;
        width: 400px;
    }
    
    .foto__3 {
        border-radius: 10px;
        width: 400px;
    }

    }

    @media screen and (max-width: 460px)  {
        .contenedor {
        grid-template-areas: "titulo titulo titulo"
        "descripcion descripcion descripcion"
        "zonas zonas zonas "
        "fotos fotos fotos"
        "footer footer footer";
        }

        #menu__ap {
            display: none;
        }
    
        .desplegable{
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           font-style: bold;
            background-color: #DBE6FD;
            padding: 10px;
            border-radius: 15px;
            width: 50px;
        }

        .titulo{
           padding: 0px;
           margin: 0px;
            font-size: 38px;
            color: #52bfe0;
            line-height: 0px;
        }
    
        .descripcion{
            text-align: center;
            font-size: 18px;
            margin: 0;
            padding: 0;
            color: #293B5F;
        }

        .zonas{
            color: #47597E;
            font-size: 14px;
            padding-top: 20px;
        }
    
        .fotos{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-content: center;
            margin-left: 0px;
            padding: 30px;
        }
    
        .foto__1 {
            border-radius: 10px;
            width: 300px;
        }
        
        .foto__2 {
            border-radius: 10px;
            width: 300px;
            align-self: center;
            
        }
        
        .foto__3 {
            border-radius: 10px;
            width: 300px;
        }




/*Pacientes

.logo__pacientes{
    display: inline;
    background-color: #FEECE9;
}

.principal__pacientes{
    background-image: url(./background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
}

#menu__pacientes li{
    display: block;
    padding-right: 20px;
    float: inline-start;
    margin-bottom: 50px;
    position: left 50%;
    list-style-type: none;
}

.lista__index__pacientes{
    text-decoration: none;
    color: #2F3A8F;
}

.lista__sobre__ap__pacientes{
    text-decoration: none;
    color: #2F3A8F;
}

.lista__servicios__pacientes{
    text-decoration: none;
    color: #2F3A8F;
}

.lista__pacientes__pacientes{
    text-decoration: none;
    color: #2F3A8F;
}

.lista__contacto__pacientes{
    text-decoration: none; 
    color: #2F3A8F;
}

.h1__pacientes{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #FE7E6D;
    padding: 10px;
    margin-left: 43%;
}

.h2__pacientes{
    color: #2F3A8F ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.foto__1__pacientes{
    border-radius: 10px;
}

.foto__2__pacientes{
    border-radius: 10px;
}

.foto__3__pacientes{
    border-radius: 10px;
}

.foto__4__pacientes{
    border-radius: 10px;
}

.foto__5__pacientes{
    border-radius: 10px;
}

.footer__pacientes{
    display: flex;
    flex-direction: row;
     justify-content: center;
     align-items: center;
      height: 100px; 
      width: 100%;
}


/* Mis Servicios 

.logo__servicios{
    display: inline;
    background-color: #FEECE9;
}

.principal__servicios{
    background-image: url(./background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
}

#menu__servicios li{
    display: block;
    padding-right: 20px;
    float: inline-start;
    margin-bottom: 50px;
    position: left 50%;
    list-style-type: none;
}

.lista__index__servicios{
    text-decoration: none;
    color: #2F3A8F;
}

.lista__sobre__ap__servicios{
    text-decoration: none;
    color: #2F3A8F;
}

.lista__servicios__servicios{
    text-decoration: none;
    color: #2F3A8F;
}

.lista__pacientes__servicios { 
    text-decoration: none;
    color: #2F3A8F;
}

.lista__contacto__servicios {
    text-decoration: none; 
    color: #2F3A8F;
}

.h1__servicios {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #FE7E6D;
    padding: 10px;
    margin-left: 43%;
}

.lista__servicios{
    color: #2F3A8F ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.footer__servicios{
    display: flex;
    flex-direction: row;
     justify-content: center;
     align-items: center;
      height: 100px; 
      width: 100%;
}


/* Contacto 

.logo__contacto{
    display: inline;
    background-color: #FEECE9;
}

.principal__contacto{
    background-image: url(./background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
}

.menu__contacto li{
    display: block;
    padding-right: 20px;
    float: inline-start;
    margin-bottom: 50px;
    position: left 50%;
    list-style-type: none;
}

.lista__index__contacto{
    text-decoration: none;
    color: #2F3A8F;
}

.lista__sobre__ap__contacto{
    text-decoration: none;
    color: #2F3A8F;
}

.lista__servicios__contacto{
    text-decoration: none;
    color: #2F3A8F;
}

.lista__pacientes__contacto { 
    text-decoration: none;
    color: #2F3A8F;
}

.lista__contacto__contacto{
    text-decoration: none; 
    color: #2F3A8F;
}

.h1__contacto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #FE7E6D;
    padding: 10px;
    margin-left: 43%;
}

.h2__contacto{
    color: #2F3A8F ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.boton__1{
    color: #2F3A8F ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.boton__2{
    color: #2F3A8F ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.boton__3 {
    color: #2F3A8F ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.boton__4 {
    color: #2F3A8F ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.boton__5 {
    color: #2F3A8F ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.footer__contacto{
    display: flex;
    flex-direction: row;
     justify-content: center;
     align-items: center;
      height: 100px; 
      width: 100%;
}