.imagenOvejero{
    width: 600px;
    height: 400px;
    line-height: 400px;
    margin: 0px auto;
    text-align: center;

    img {
        vertical-align: middle;
        box-shadow: $boxShadow;
        border-radius: 10px;
        margin-top: 30px;
        border: $border;
    }
}